#navbar {
  padding: 0;
}

.bar{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f3f3f3;
  position: fixed;
  top: 0;
  width: 100%;
  float: left;
}

.bar1, .bar2, .bar3, .bar4, .bar5{
    float: left;
}

li a { 
  color: #666;
  font-weight: bold;
}

li a:hover {
    background-color:darkgray;
} 

a {
  display: block;
  padding: 20px;
  text-align: center;
  font-size: 30px;
  padding: 30px 36px;
  text-decoration: none;
}