body {
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.dashboard {
  padding-top: 12%;
  padding-bottom: 15%;
  
}

.happy {
  padding-left: 19%;
}
 
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/
  height: 60px;
}

.dashboard {
  padding-left: 30%;
}

footer {
  background-color: #f3f3f3;
  padding: 0.3%;
  padding-left: 45%;
}
